# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.EndlessRunnerr.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\SEAN\OneDrive\Documents\GitHub\EndlessRunnerr\EndlessRunnerr\.idea\.idea.EndlessRunnerr\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
